img{
    width: 60vw;
}
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:100px;
    color: blue;
}
.first{
    background-color: lightgrey;
    @media(min-width:)
}
.second{
    background-color: white;
}
section{
    background-color: rgb(194, 189, 189);
    margin: 20px;
}
p{
    text-align: left;
    p
    
}